body {
  background: #eeedec;
  font-size: 0.8em;
}
.container1 {
  max-width: 400px;
  letter-spacing: 0.2em;
}
.container2 {
  max-width: 90%;
}
.clock {
  font-size: 20px;
  letter-spacing: 0.2em;
}
.timeLine {
  height: 1px;
}
.focus {
  position: absolute;
  height: 215px;
  border-radius: 10px;
  background-color: rgba(144, 238, 144, 0.5);
}
img {
  width: 1.5em;
}
th {
  height: 40px !important;
  width: 4.16% !important;
}
